html, body {
    margin: 0px;
    background-color: #2F4F30;
    color: white;
}

#video-gallery {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.video-container {
    width: 150%;
}

video {
    width: 100%;
    height: auto;
}
#pdf-gallery {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
}

.pdf-container img {
    width: 100%;
    height: auto;
}

iframe {
    width: 100%;
    height: auto;
}

.audio-gallery {
    border: 1px solid #ccc;
    padding: 10px;
    max-width: 300px;
    margin: 20px auto;
    background-color: #161515;
}

.audio-item {
    padding: 8px;
    margin: 5px 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.audio-item:last-child {
    border-bottom: none;
}

.audio-item:hover {
    background-color: #565353;
}

.center-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  #container {
    display:         flex;
    flex-wrap:       wrap;
    justify-content: center;
  }
  
  .block {
    width:              150px;
    height:             150px;
    background-color:   #cccccc;
    margin:             10px;        
  }